<h1> Rules of the Game </h1>

<p>The rules of the game are very simple.
  <br>
  Choose one of the following:
  <ul>
    <li>rock</li>
    <li>paper</li>
    <li>scissors</li>
    <li>lizard</li>
    <li>spock</li>
  </ul>
  <br>
  Your opponent will do the same.
  <br>
  Then the computer will tell you who has won.
</p>
